{% extends "layout.html" %}
{% load static %}

{% block headlinks %}
    <link rel="stylesheet" href="{% static "css/modal.css" %}">
    <script src="{% static "js/modal.js" %}"></script>
    <script src="{% static "js/reset-password.js" %}"></script>
    <style>
        .reset-password__input{
            margin-bottom: 3rem;
        }
    </style>
{% endblock headlinks %}

{% block application %}
    <div class="reset-password">
        <h2 class="modal__heading">Сброс пароля</h2>
        <form class="modal__form" method="post">
            {% if form.errors %}
                <div class="modal__form-error-messages">
                    {% for error in form.non_field_errors %}
                        <p class="modal__form-error">
                            {{ error }}
                        </p>
                    {% endfor %}
                </div>
            {% endif %}
            {% csrf_token %}
            {% comment %} {{ form.as_p }} {% endcomment %}
            <div class="modal__input-wrapper">
                <div class="modal__input-error-messages">
                    {% for error in field.errors %}
                        <p class="modal__input-error">
                          {{ error }}
                        </p>
                    {% endfor %}
                </div>
                <input type="email" name="email" autocomplete="email" class="modal__input reset-password__input" maxlength="254" required id="id_email" placeholder="Адрес электронной почты">
            </div>
            <input class="ui-button modal__submit" type="submit" value="Отправить">
        </form>
    </div>
{% endblock application %}
