{% extends "layout.html" %}
{% load static %}

{% block headlinks %}
    <link rel="stylesheet" href="{% static "css/modal.css" %}">
    <script src="{% static "js/modal.js" %}"></script>
    <style>
        .modal__input {
            margin-bottom: 3rem;
        }
    </style>
{% endblock headlinks %}

{% block application %}
    <div class="reset-password-verify">
        <h2 class="modal__heading">Верификация кода для сброса пароля</h2>

        <form class="modal__form" method="post">
            {% if form.errors %}
                <div class="modal__form-error-messages">
                    {% for error in form.non_field_errors %}
                        <p class="modal__form-error">
                            {{ error }}
                        </p>
                    {% endfor %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p class="modal__form-error">
                                {{ error }}
                            </p>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
            {% csrf_token %}
            <input class="modal__input" type="text" name="verification_code" required="" id="id_verification_code" placeholder="Код подтверждения">

            <input class="modal__input" type="password" name="password1" required="" id="id_password1" placeholder="Новый пароль">
            
            <input class="modal__input" type="password" name="password2" required="" id="id_password2" placeholder="Подтвердите пароль">
            
            <input class="ui-button modal__submit" type="submit" value="Сбросить пароль">

        </form>
    </div>
{% endblock application %}

